@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    color-scheme: dark;

    --jsonBorderLeft: 20px solid transparent;
    --jsonPaddingLeft: 20px;
  }

  html[data-theme='gruvbox'] {
    --background: 200 4.76 5;
    --background-darker: 200 4.76 4;
    --background-lighter: 200 4.76 7;
    --background-lightest: 200 4.76 12;
    --background-lightest-hover: 200 4.76 16;
    --foreground: 0 0 100;
    --foreground-inverted: 0 0 0;
    --foreground-muted: 200 4.76 50;

    --border: 28 8.11 0.5;
    --border-light: 200 4.76 12;
    --border-lighter: 200 4.76 18;
    --border-lighter-hover: 200 4.76 22;

    --primary: 25.6 200 56.9;
    --jsonBracketColor: 25.9 84.2 57.8;
    --jsonBracketHoverBackground: 0 0 12;
    --jsonSeparatorColor: 25.9 84.2 57.8;
    --jsonKeyColor: 155 32.5 59.2;
    --jsonValColor: 61.6 45.1 50;
    --jsonValStringColor: 35.9 104.2 58;
    --jsonValNumberColor: 343 36.4 66.1;
    --jsonValBooleanColor: 155 32.5 59.2;
  }

  html[data-theme='tokyonight'] {
    --background: 225 15 14;
    --background-darker: 225 15 11;
    --background-lighter: 225 15 20;
    --foreground: 0 0 95;
    --foreground-inverted: 0 0 5;
    --foreground-muted: 225 10 60;
    --border: 225 15 10;
    --border-light: 225 15 25;
    --primary: 220 50 60;
    --jsonBracketColor: 220 50 60;
    --jsonBracketHoverBackground: 225 15 18;
    --jsonSeparatorColor: 220 50 60;
    --jsonKeyColor: 260 40 70;
    --jsonValColor: 180 40 65;
    --jsonValStringColor: 150 50 65;
    --jsonValNumberColor: 40 80 55;
    --jsonValBooleanColor: 0 70 65;
  }

  /*::-moz-selection {*/
  /*  color: var(--foreground);*/
  /*  background: hsl(var(--jsonBracketHoverBackground));*/
  /*}*/
  /**/
  /*::selection {*/
  /*  color: var(--foreground);*/
  /*  background: hsl(var(--jsonBracketHoverBackground));*/
  /*}*/

  html {
    font-size: 14px;
    @apply antialiased bg-background text-foreground;
  }

  /**,*/
  a,
  button {
    cursor: default;
    user-select: none;
  }

  ._jsonBkt {
    cursor: default;
  }
}

@layer components {
  .drag {
    user-select: none;
    -webkit-app-region: drag;
  }

  .no-drag {
    -webkit-app-region: no-drag;
  }

  ._jsonList {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: var(--jsonPaddingLeft);
    border-left: var(--jsonBorderLeft);
  }

  ._jsonBkt {
    color: hsl(var(--jsonBracketColor));
    border-radius: 4px;
    padding-block: 5px;
    padding-inline: 2px;
    margin-inline: -2px;
    margin-block: -5px;
  }

  ._jsonBkt:not(.empty):hover {
    background: hsl(var(--jsonBracketHoverBackground));
  }

  ._jsonSep {
    color: hsl(var(--jsonSeparatorColor));
  }

  ._jsonKey {
    color: hsl(var(--jsonKeyColor));
  }

  ._jsonVal {
    color: hsl(var(--jsonValColor));
  }

  ._jsonVal.string {
    color: hsl(var(--jsonValStringColor));
  }

  ._jsonVal.number {
    color: hsl(var(--jsonValNumberColor));
  }

  ._jsonVal.boolean {
    color: hsl(var(--jsonValBooleanColor));
  }
}
